@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
  }

  html {
    font-size: 62.5%;
  }

  body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #FFFFF0;
    color: #132245;
  }

  header {
    position: sticky;
    width: 100%;
    padding: 1rem 9%;
    background-color: #132245;
    border: 2px solid #132245;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }
  
  .logo {
    font-size: 3rem;
    color: #FEDE42;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
  }
  
  .logo:hover {
    transform: scale(1.1);
    color: #FF791F;
  }
  
  .logo img {
    height: 50px;
    width: auto;
    display: block;
  }
  
  nav a {
    font-size: 1.8rem;
    color: #E9EDC8;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
  }
  
  nav a:hover, nav a.active {
    color: #FF791F;
    border-bottom: 3px solid #FEDE42;
  }
  
  hr {
    border: none;
    height: 2px;
    background-color: #f6250a;
    margin: 40px 0;
  }
  
  footer {
    background-color: #132245;
    color: #E9EDC8;
    padding: 2rem 9%;
    text-align: center;
    border-top: 2px solid #891f1100;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .footer-section {
    flex: 1;
    min-width: 250px;
    margin: 1rem;
  }
  
  .footer-section h3 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #FEDE42;
  }
  
  .footer-section p {
    font-size: 1.4rem;
    color: #E9EDC8;
  }
  
  .footer-section a {
    color: #E9EDC8;
    font-weight: 600;
  }
  
  .footer-section a:hover {
    color: #FEDE42;
  }
  
  .footer-section a i {
    font-size: 2.5rem;
    margin: 0 10px;
    transition: transform 0.3s ease;
  }
  
  .footer-section a i:hover {
    transform: scale(1.9);
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #132245;
    min-width: 160px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    overflow: hidden;
    display: none;
    z-index: 200;
    padding: 0;
    margin: 0;
  }
  
  .dropdown-content a {
    display: block;
    padding: 10px;
    text-align: left;
    white-space: nowrap;
    color: #E9EDC8;
    transition: background 0.3s ease-in-out;
  }
  
  .dropdown-content a:hover {
    background: #005A8B;
    color: #FEDE42;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

  .program-container {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .program-intro {
    background-color: #132245;
    color: white;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: -100px;
  }
  
  .program-intro h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .program-intro h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .program-intro p {
    font-size: 18px;
    line-height: 1.6;
  }  


  .card {
    margin-top: 10rem;
    padding: 6rem 0rem;
    position: sticky;
    top: 0;
  }
  
  .card__inner {
    will-change: transform;
    background: #132245;
    border-radius: 14px;
    display: flex;
    overflow: hidden;
    box-shadow: 0 25px 50px -12px hsla(265.3, 20%, 10%, 35%);
    transform-origin: center top;
  }
  
  .cards {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(var(--cards-count), var(--card-height));
    gap: 40px 0;
  }
  
  .card__image-container {
    display: flex;
    width: 40%;
    flex-shrink: 0;
  }
  
  .card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1;
  }
  
  .card__content {
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
  }
  
  .card__title {
    padding: 0;
    margin: 0;
    font-size: 60px;
    font-weight: 600;
    color: #ffffff;
  }

  .card__subtitle {
    font-size: 20px;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .card__description {
    line-height: 1.4;
    font-size: 18px;
    color: #ffffff;
  }
  
  .space {
    height: 90vh;
  }
  
  .space--small {
    height: 40vh;
  }
  
  @media (max-width: 600px) {
    .card__inner {
      flex-direction: column;
    }
  
    .card__image-container {
      width: 100%;
    }
  
    .card__image {
      aspect-ratio: 16 / 9;
    }
  
    .card__title {
      font-size: 32px;
    }
  
    .card__description {
      font-size: 16px;
    }
  
    .card__content {
      padding: 30px 20px;
    }
  }

  .invisible-line {
    height: 275px;         
    width: 100%;          
    background-color: transparent; 
  }

